/* App.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  color: #333;
  text-align: center;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  min-height: 120px;
  font-size: 1rem;
}

button {
  background-color: #1d4ed8;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

button:hover {
  background-color: #bb9b57;
}

.delete-btn {
  background-color: #e11d48;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.delete-btn:hover {
  background-color: #f43f5e;
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
  .App {
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  textarea {
    font-size: 0.9rem;
  }

  button, .delete-btn {
    font-size: 0.9rem;
  }
}

/* Navbar styles */
.navbar {
  background-color: #6684da;
  padding: 10px 0;
  text-align: center;
}

.navbar .navbar-title {
  color: white;
  font-size: 1.5rem;
}

.navbar-buttons {
  margin-top: 10px;
}

.navbar-btn {
  background-color: #eb5325;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.navbar-btn:hover {
  background-color: #178a30;
}

.navbar-btn.active {
  background-color: #9f30ca;
  font-weight: bold;
}

/* Add Note and View Notes section */
.add-note, .view-notes {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.view-notes ul {
  list-style-type: none;
  padding: 0;
}

.view-notes li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.view-notes li span {
  flex: 1;
  font-size: 1rem;
  color: #333;
}
